{%- assign otherpages = "" | split: "" -%}
{%- assign subdir = page.dir|split:'/' -%}
{%- assign subdir = subdir[1] -%}

{%- for otherpage in site.pages|sort:'path' -%}
  {%- assign osubdir = otherpage.dir|split:'/' -%}
  {%- assign osubdir = osubdir[1] -%}

  {%- if otherpage.title != "" and osubdir == subdir -%}
    {%- assign otherpages = otherpages | push: otherpage -%}
  {%- endif -%}
{%- endfor -%}
{%- assign otherpage_len = otherpages | size -%}
{%- assign sorted_others = otherpages | sort: 'path' -%}

{%- if otherpage_len > 1 -%}

<hr/>

<ol>
{% for otherpage in sorted_others %}
<li><a href="{{site.baseurl}}{{otherpage.url}}" {% if otherpage.url == page.url %}class="selected"{% endif %}>{{ otherpage.title }}</a></li>
{% endfor %}
</ol>
{%- endif -%}