---
---

@import "{{ site.theme }}";

header {
    position: relative;
    width: initial;
}

a.selected {
    background-color: #f6e58d;
    padding: 0 .25rem;
}

.wrapper {
    nav {
        top: 160px;
    }
    section {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
}
#banner {
    display: none;
}

.task-list-item-checkbox {
    margin-right: .5rem;
}

figure {
    display: table;
    text-align: center;
    margin-bottom: 1rem;
    img {
        display: table-row;
    }
    border: 1px solid #ddd;
    figcaption {
        display: table-row;
        background-color: #ddd;
        border-radius: 0 0 3px 3px;
        font-style: italic;
    }
}