---
layout: default
---

<div class="col-wrap">
  <div class="left-nav">
    <a href="{{ "/" | relative_url }}">Home</a>

    <hr/>
    <a href="{{ site.github.repository_url }}/edit/master/{{page.path}}">✏️ Edit This Page</a>
    {% if page.last_modified_at %}
      <div>Last Modified: {{ page.last_modified_at | date_to_string }}</div>
    {% endif %}

    {% include related-nav.html %}

  </div>

  <main class="page-content" aria-label="Content">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1rem;">
      
    </div>

    {{ content }}

    {% if page.slug and page.has_code %}
    has code
    {% endif %}

    <div>
      {% include related-nav.html %}
    </div>

  </main>
</div>

